/* Set background color for webpage */

html {
    background-color: #0a0100;
}

/* Start Page Heading */

h1 {
	margin: 20px 40px 45px 40px;
	color: Yellow;
	text-align: center;
	font-size: 375%;
	padding: 10px 40px 10px 40px;
	box-shadow: 0 0 20px 14px rgb(31, 203, 255);
}

h1 + p {
	margin: 15px;
	padding: 15px;
}

/* End Page Heading */

/* Start Site Navigation */

.site-nav {
	margin: 10px 20px 32px 20px;
	display: flex;
	gap: 6px;
}

.site-nav ul {
	margin: 0 auto 0 auto;
	padding: 0%;
}

.site-nav li {
	list-style: none;
	float: left;
	margin: 0 8px 0 8px;
	margin-right: 8px;
	width: 150px;
	text-align: center;
}

.site-nav a {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: block;
	color:  yellow;
	text-decoration: none;
	padding: 10px 20px;
	border: solid #ffae00;
}

.site-nav a:hover {
	background-color: rgb(135, 2, 147);
}

/* .site-nav a:active {
    box-shadow: 1px 1px 5px 3px rgb(39, 255, 255) inset;
} */

/* End Site Navigation */

/* Start table */

table {
	display: flex;
	border: 3px solid white;
	margin-left: 710px;
	margin-right: 710px;
	border-spacing: 0;
	border-collapse: collapse;
	justify-content: center;
}
.canon {
	/* padding-left: 100px; */
	/* padding-right: 100px; */
	/* display: block; */
	color: green;
	text-align: center;
	padding: 15px 80px 20px 80px;
	border-bottom: 0 solid white;
	font-size:185%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table, .canon {
	margin-top: 60px;
	margin-bottom: 80px; 
}

.light-side {
	color: rgb(31, 203, 255);
	text-align: center;
	padding: 20px;
}

td {
	color: red;
	text-align: center;
	border: 1px solid white;
	padding: 15px 65px 10px 65px;
	
}

 .ls-characters {
	color: rgb(31, 203, 255);
	text-align: center;
}

.ds-characters {
	color: red;
	text-align: center;
}

.extended-universe {
	/* padding-left: 100px; */
	/* padding-right: 100px; */
	color: green;
	text-align: center;
	padding: 15px 80px 20px 80px;
	border-bottom: 0 solid white;
	font-size:185%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* End Table */