/* Set background color for webpage */

html {
    background-color: #0a0100;
}

body {
	box-sizing: border-box;
}

/* Start Page Heading */

h1 {
	margin: 20px 2% 45px;
	color: Yellow;
	text-align: center;
	font-size: 375%;
	padding: 10px auto 10px;
	box-shadow: 0 0 20px 14px rgb(31, 203, 255);
	border-radius: 8px;
}

/* End Page Heading */

/* Start Site Navigation */

.site-nav {
	margin: 10px 20px 32px 20px;
	display: flex;
	gap: 6px;
}

.site-nav ul {
	margin: 0 auto 0 auto;
	padding: 0%;
}

.site-nav li {
	list-style: none;
	float: left;
	margin: 0 8px 0 8px;
	margin-right: 8px;
	width: 150px;
	text-align: center;
}

.site-nav a {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: block;
	color:  yellow;
	text-decoration: none;
	padding: 10px 20px;
	border: solid #ffae00;
}

.site-nav a:hover {
	background-color: rgb(135, 2, 147);
	box-shadow: 1px 1px 5px 3px rgb(39, 255, 255) inset;
}

/* .site-nav a:active {
    box-shadow: 1px 1px 5px 3px rgb(39, 255, 255) inset;
} */

/* End Site Navigation */

/* Start table */

table {
	border: 3px solid rgb(204, 19, 255);
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	border-collapse: collapse;
	width: calc(100% - 84%);
	max-width: 715px;
	min-width: 515px;
	box-shadow: 0 0 20px 14px rgb(223, 190, 7);
}
.canon {
	color: green;
	text-align: center;
	padding: 15px 80px 20px 80px;
	font-size:185%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table, .canon {
	margin-top: 60px;
	margin-bottom: 80px; 
}

.light-side {
	color: rgb(31, 203, 255);
	text-align: center;
	padding: 20px;
}

td {
	color: red;
	text-align: center;
	border: 1px solid rgb(204, 19, 255);
	padding: 15px 65px 10px 65px;
	
}

 .ls-characters {
	color: rgb(31, 203, 255);
	text-align: center;
}

.ds-characters {
	color: red;
	text-align: center;
}

.extended-universe {
	color: green;
	text-align: center;
	padding: 15px 80px 20px 80px;
	font-size:185%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* End Table */

/* media queries for devices under 600pixels */
@media screen and (max-width: 768px) {
	header {
	 flex-direction: column;
	 flex-wrap: wrap;
	 justify-content: center;
	}
	header h1 {
		text-align: center;
		align-items: center;
	}
	nav {
	 display: flex;
	 flex-direction: column;
	 text-align: center;
 	}
	nav ul {
	 display: flex;
	 flex-direction: column;
	 text-align: center;
	 gap: 9px
	}
	table {
		justify-content: center;
		align-items: center;
		min-width: 1%;
	}
}