/* Set background color for webpage */

html {
	background-color: #0a0100;
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
}

/* Start Page heading */

h1 {
	margin: 20px auto 50px auto;
	color: Yellow;
	text-align: center;
	font-size: 375%;
	padding: 10px 40px 10px 40px;
	box-shadow: 0 0 20px 14px rgb(31, 203, 255);
	border-radius: 8px;
	max-width: 100%;
	width: 76%;
}

/* End Page heading */

/* Start Site Navigation */

.site-nav {
	margin: 10px 20px 32px 20px;
	display: flex;
	gap: 6px;
}

.site-nav ul {
	margin: 0 auto 0 auto;
	padding: 0%;
}

.site-nav li {
	list-style: none;
	float: left;
	margin: 0 8px 0 8px;
	width: 150px;
	text-align: center;
}

.site-nav a {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: block;
	color:  yellow;
	text-decoration: none;
	padding: 10px 20px;
	border: solid #ffae00;
}

.site-nav a:hover {
	background-color: rgb(135, 2, 147);
	box-shadow: 1px 1px 5px 3px rgb(39, 255, 255) inset;
}

/* .site-nav a:active {
	box-shadow: 1px 1px 5px 3px rgb(39, 255, 255) inset; 
} */
 
/* End Site Navigation */

main {
	display: flex;
	justify-content: center;
	padding: 5px 45px 2px 62px;
	margin: 20px auto 25px;
	width:100%;
	max-width: calc(100%-48px);
	text-align: left;
	box-sizing: border-box;

}

.history {
	display: flex;
	color: white;
	max-width: calc(100%-48px);
	width: 83%;
}

.images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin:  auto 0 auto;
	max-width: calc(100%-48px);
	overflow: hidden;
}

.images img {
	justify-content: center;
	flex-flow: row wrap;
	padding: 8px;
	margin-top: auto;
	max-width: calc(100%-48px);
	max-height: calc(100%-48px);
	max-width: 30%;
}

 /* Extra small devices (phones, 600px and down) */
 @media screen and (max-width: 768px) {
	header {
	 flex-direction: column;
	 flex-wrap: wrap;
	 justify-content: center;
	}
	header h1 {
		text-align: center;
		align-items: center;
	}
	nav {
	 display: flex;
	 flex-direction: column;
	 text-align: center;
 	}
	nav ul {
	 display: flex;
	 flex-direction: column;
	 text-align: center;
	 gap: 9px
	}

	 .history {
	display: flex;
	justify-content: center;
	align-items: center;
	
	}
	.images {
		width: auto;
	}
}