/* Set background color for webpage */

html {
	background-color: #0a0100;
}

/* Start Page heading */

h1 {
	margin: 20px 40px 45px 40px;
	color: Yellow;
	text-align: center;
	font-size: 375%;
	padding: 10px 40px 10px 40px;
	box-shadow: 0 0 20px 14px rgb(31, 203, 255);
}

h1 + p {
	margin: 15px;
	padding: 15px;
}

/* End Page heading */

/* Start Site Navigation */

.site-nav {
	margin: 10px 20px 10px 20px;
	display: flex;
	gap: 6px;
}

.site-nav ul {
	margin: 0 auto 0 auto;
	padding: 0%;
}

.site-nav li {
	list-style: none;
	float: left;
	margin: 0 8px 0 8px;
	margin-right: 8px;
	width: 150px;
	text-align: center;
}

.site-nav a {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: block;
	color:  yellow;
	text-decoration: none;
	padding: 10px 20px;
	border: solid #ffae00;
	
	
}

.site-nav a:hover {
	background-color: rgb(135, 2, 147);
	box-shadow: 1px 1px 5px 3px rgb(39, 255, 255) inset;
}

/* .site-nav a:active {
	box-shadow: 1px 1px 5px 3px rgb(39, 255, 255) inset; 
} */
 
/* End Site Navigation */

.history {
	padding: 5px 78px 2px 65px;
	margin: 15px;
	text-align: left;
}

.history p {
	color: white;
}

.date {
	color: blue;
}

.episodes {
	color: red;
	font-style: italic;
}

.movies  {
	font-style: italic;
	color: yellow;
}

.images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.images img {
	max-width: 31%;
	padding: 10px;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
	section img {
		display:flex;
		flex-flow:column wrap;
		align-items: center;
	}
	body {
		background-color: rgb(117, 18, 126);
	}
 }