
/* End Site Navigation */

ol {
	list-style-type: upper-roman;
	list-style-position: inside;
	color: rgb(235, 222, 37);
}

ol ul {
	list-style-type: square;
	margin-bottom: 9px;
	color: rgb(252, 28, 28);
}

.list {
	display: flex;
	justify-content: center;
	border: 3px solid rgb(43, 201, 245);
	padding: 10px 10px 10px 0;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 42%;
	box-shadow: 0 0 20px 14px rgb(155, 7, 223);
	;
}

/* for devices 600 pixels in size and smaller */
@media screen and (max-width: 768px) {
	header {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	header h1 {
		text-align: center;
		align-items: center;
	}

	nav {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 9px
	}

	.list {
		text-align: center;
		justify-content: center;
	}
}
